@model List<FastFoodApp.Models.Producto>

@{
    Layout = "~/Views/Shared/Plantilla.cshtml";
}

<h1>Listado de productos</h1>

@foreach (var producto in Model)
{
    <div class="producto">
        <h2>@producto.Nombre</h2>

        <a href="~/productos/ver/@producto.Id">
            <img width="300" src="@producto.Foto" />
        </a>
        
        <br />
        <span>@producto.Precio</span>
        <br />
        <span>@producto.Categoria.Nombre</span>
    </div>
}